<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Conditions in Jinja2</h1>

    {% if company == 'Apple' %}
      <ul>
        <li>iPhone</li>
        <li>iPad</li>
        <li>iMac</li>
      </ul>
    {% elif company == 'Microsoft' %}
    <ul>
      <li>Windows Phone</li>
      <li>Surface Pro</li>
      <li>Surface Book</li>
    </ul>
    {% else %}
        <p>No {{company}} products available </p>
    {% endif %}
  </body>
</html>